<div class="row">
  <h1> Experiencia laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Proyect Leader</h1> - <h3>3 años</h3>
      </li>
      <p>
        Realizo tareas de coordinación de un grupo de Ingenieros para llevar adelante diversos proyectos relacionados a la Ingeniería Civil, Hidráulica y Sanitaria.
      </p>
    </ul>
    <ul>
      <li>
        <h1>Ingeniero Proyectista</h1> - <h3>6 años</h3>
      </li>
      <p>
        Confecciono de documentación técnica para la resolución de diversos proyectos relacionados a la Ingeniería Civil, Hidráulica y Sanitaria.
      </p>
    </ul>
    <ul>
      <li>
        <h1>Asistente de Jefe de Obra</h1> - <h3>2 años</h3>
      </li>
      <p>
        LLevo a cabo informes de avance, coordino proveedores y participo en certificaciones
      </p>
    </ul>
  </div>
