<div class="row">
  <h1> Educación</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Ingeniero Civil</h1> - <h3>5 años</h3>
      </li>
      <p>
        Universidad Nacional de La Plata
      </p>
    </ul>
    <ul>
      <li>
        <h1>Técnico aviónico</h1> - <h3>12 años</h3>
      </li>
      <p>
        Escuela de Educación Técnica N°7
      </p>
    </ul>
    <ul>
      <li>
        <h1>Mecanico de equipos radioléctricos de aeronaves</h1> - <h3>13 años</h3>
      </li>
      <p>
        Escuela de Educación Técnica N°7
      </p>
    </ul>
  </div>

