<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/perfilPhoto.PNG" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Osciak Juan Francisco</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1>Acerca de mí</h1>
        <p>
          Me considero pro-activo, dinámico, entusiasta y de rápido aprendizaje,
        </p><p>
          capaz de adaptarme a la situación de trabajo requerida.
        </p><p>
          Soy una persona detallista, organizada y responsable.
        </p><p>
          Me atraen los nuevos desafíos que se me presenten y
        </p><p>
          disfruto mucho de trabajar en equipos multidisciplinarios.
        </p><p>
          Siempre busco dar lo mejor para conseguir los mejores resultados.
        </p>
      </span>
    </div>
</div>
