<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-md-7 lg-7 parte1">
      <h1>Canal de La Patria</h1>
      <p>Canal en Santiago del Estero destinado a dotar a gran parte de la provincia con agua cruda para su potabilización</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/canal de la Patria (2).png" class="img-fluid img-proyecto">
    </div>
    <div class="col-sm-12 col-md-7 col-md-7 lg-7 parte1">
      <h1>Cantera Urbana</h1>
      <p>Recuperación y puesta en valor de una cantera en la localidad de Gorina</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/Cantera.jpg" class="img-fluid img-proyecto">
    </div>
  </div>
</div>
